__pycache__/*
agentsearch/__pycache__/*
warehouse/__pycache__/*
utils/__pycache__/*
search_methods/__pycache__/*
experiments/__pycache__/*
ga/__pycache__/*
.idea/*
experiments_statistics/__pycache__/*
ga/genetic_operators/__pycache__/*
ga/selection_methods/__pycache__/*
